.movieTitle{
    margin-bottom: 1rem;
}
.movieInfo {
    margin-top: 2rem;
    margin-right: 30%;
    margin-left: 30%;
    color: white;

    }

.Poster {
filter: drop-shadow(0px 45px 45px black);
margin-bottom: 4rem;
margin-top: 0.5rem;



}
.Poster:hover {
    cursor: pointer;
  }
